h3
{
   font-size: 25px !important;
}
.btn-success:hover
{
    background-color:darkmagenta;
}
  canvas {
    animation-name:example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


  @keyframes  example {
    from {box-shadow : 8px 8px 65px rgb(111, 255, 0);}
    to {box-shadow : 8px 8px 65px rgb(143, 44, 163);}
   
  }